body {
    /*background-image: url("assets/consume.gif");*/
    background-repeat: repeat;
    background-position:center;
    margin: 0px;
    border: 0px;
    background-attachment: fixed;
	background-color: white;
    
}

#content {
    cursor: pointer;
    position: fixed; 
    height: 100vh;
    width: 100vw;
    /*font-family: sans-serif;*/
    /*font-family:monospace;*/
    font-size: 25px;
}
.title {
	font-weight: bold;
}

#plan {
	float: left;
}

#plan-code {
	border-left: 10px;
}

#plan-title, #steps {
	min-width: 100px;
	position: absolute;
}

a {
	text-decoration: none;
	color: black;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white; 
}

.line {
	position: absolute;
}

#info_button {
    text-align: right;
    width: 2vw;
    z-index: 10;
    cursor: pointer;
    position: absolute;
    padding-top: 2vh;
    padding-left: 94vw;
    font-size: 30px;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#info {
    visibility: hidden;
    padding-top: 2vh;
    font-size: 30px;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    width: 100vw;
    text-align: center;
    cursor: pointer;
    position: absolute;
}
